#Nama   : Adinda Rahmawati
#NIM    : J0403231050
#Kelas  : B-1
#Prodi  : Teknologi Rekayasa Perangkat Lunak
#Email  : rahmawati4487@gmail.com

CREATING A SET

In [1]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Mon', 'Sat', 'Sun', 'Thu', 'Fri', 'Tue', 'Wed'}
{'Mar', 'Jan', 'Feb'}
{17, 21, 22}

ACCESSING VALUES IN A SET

In [2]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
for d in Days:
 print(d)

Mon
Sat
Sun
Thu
Fri
Tue
Wed

ADDING & REMOVING ITEMS TO A SET

In [3]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.add("Sun")
print(Days)

{'Mon', 'Sat', 'Sun', 'Thu', 'Fri', 'Tue', 'Wed'}

In [4]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Mon', 'Sat', 'Thu', 'Fri', 'Tue', 'Wed'}

UNION, INTERSECTION, AND DIFFERENCE OF SETS

In [5]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA|DaysB) # equals with print(DaysA.union(DaysB))
print(DaysA & DaysB) # equals with print(DaysA.intersection(DaysB))
print(DaysA - DaysB) # equals with print(DaysA.difference(DaysB)

{'Mon', 'Sat', 'Sun', 'Thu', 'Fri', 'Tue', 'Wed'}
{'Wed'}
{'Tue', 'Mon'}

**CHOOSING DATA STRUCTURES**

USING LIST OF TUPLES

In [14]:
employee_list = [(12345, "John", "Kitchen"), (12458, "Paul", "House Floor")]
def get_employee(id):
 for employee in employee_list:
  if employee[0] == id:
    return {"id": employee[0], "name": employee[1], "department": employee[2]}
print(get_employee(12458))

{'id': 12458, 'name': 'Paul', 'department': 'House Floor'}

USING DICTIONARY

In [7]:
employee_dict = {
 12345: {
 "id": "12345",
 "name": "John",
 "department": "Kitchen"
 },
 12458: {
 "id": "12458",
 "name": "Paul",
 "department": "House Floor"
 }
}
def get_employee_from_dict(id):
 return employee_dict[id];
print(get_employee_from_dict(12458));

{'id': '12458', 'name': 'Paul', 'department': 'House Floor'}