#Nama   : Adinda Rahmawati
#NIM    : J0403231050
#Kelas  : B-1
#Prodi  : Teknologi Rekayasa Perangkat Lunak
#Email  : rahmawati4487@gmail.com

Built-in Methods of Tuples

In [ ]:
tup=(9,6,'g','Python',7.4)

print(len(tup))
print(tup.index('g'))
print(tup.count('a'))

Output :
5
2
0

Creating Tuples

In [ ]:
# Create a tuple using round brackets
t1 = (1, 2, 3, 4)

# Create a tuple from a list the tuple() constructor
t2 = tuple([1, 2, 3, 4, 5])

# Create a tuple using the tuple() constructor
t3 = tuple([1, 2, 3, 4, 5, 6])

# Print out tuples
print(f"Tuple t1: {t1}")
print(f"Tuple t2: {t2}")
print(f"Tuple t3: {t3}")

Output :
Tuple t1: (1, 2, 3, 4)
Tuple t2: (1, 2, 3, 4, 5)
Tuple t3: (1, 2, 3, 4, 5, 6)

Accessing Values in Tuples

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

Output :
tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

Updating Tuples

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is NOT VALID for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

Output :
(12, 34.56, 'abc', 'xyz')

Delete Tuple Elements

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup);
del tup;
print ("After deleting tup : ");
print (tup); # an exception raised, because after del tup tuple does not exist anymore

Output : eror

Changing Python tuple value by using list()

In [ ]:
tup=(1,2,3,4,5)

list1=list(tup)
list1[4]=6

tup=tuple(list1)

print(tup)

Output : (1, 2, 3, 4, 6)

Tuple Packing and Unpacking

In [ ]:
tup=1,2,3 #packing

print("The type of ",tup,"is:",type(tup))

a,b,c=tup #unpacking

print(a)
print(b)
print(c)

Output :
The type of  (1, 2, 3) is: <class 'tuple'>
1
2
3